body {
    text-align: center;
    font-family: Arial;
    margin-top: 40px;
}

input, select, button {
    padding: 10px;
    margin: 10px;
}

pre {
    background: #f2f2f2;
    padding: 15px;
    display: inline-block;
}
